<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" type = "text/css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js" defer></script>
    <script src="https://use.fontawesome.com/525d12f3f5.js"></script>
    <script type="text/javascript" src="{{ static('js/Users.js') }}" defer></script>
    <link rel="stylesheet" href = "{{ static ('css/my.css')}}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Such monitor</title>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h2><span>MONITORING system БЕТА  <em class="fa fa-refresh refresh"></em></span></h2>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Имя пользователя</th>
                <th>Количество файлов</th>
                <th>Есть изменения?</th>
            </thead>
            <tbody id="users">
            </tbody>
        </table>
    </div>
</body>
</html>