<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" type = "text/css"/>
    <meta charset="UTF-8">
    <title>Nice monitor such wow</title>
</head>
<body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" onclick="return location.href='/'"><</button>
                <h3>Summary of <strong>{{file_list[0].name}}</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-group">
                          <li class="list-group-item">Количество всех файлов:
                            <span class="badge">{{file_list|length}}</span>
                          </li>
                            <li class="list-group-item">Количество файлов с расширением .php:
                            <span class="badge">{{ file_list[0].path | splitext }}</span>
                            </li>
                            <li class="list-group-item">Количество файлов с расширением .js:
                                <span class="badge">{{ js }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default" style="float: right;" >Accept changes</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Monitoring system beta.</strong></div>
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>File name</th>
                    <th>Extension of this file</th>
                    <th>Flag</th>
                </thead>
                <tbody>
                    {% set i = 1 -%}
                    {% for file in file_list %}
                    <tr>
                        <th scope="row">{{i}}</th>
                        <td>{{file.path}}</td>
                        <td>{{ file.path.split('.')[1]}}</td>
                        {%- if file.old_hash==file.new_hash and file.flag_exists == 1 -%}
                            <td><span class="label label-success">Checked</span></td>
                        {%- elif file.old_hash and file.old_hash != file.new_hash and file.flag_exists == 1 -%}
                            <td><span class="label label-warning">Changed</span><td>
                        {%- elif file.flag_exists == 0 -%}
                            <td><span class="label label-danger">Removed</span></td>
                        {%- elif not file.old_hash and file.new_hash != file.old_hash -%}
                            <td><span class="label label-info">New</span></td>
                        {%- endif -%}
                        {%- set i = i + 1 -%}
                    </tr>
                        {%- endfor -%}
                </tbody>
            </table>
        </div>
</body>
</html>