<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <meta charset="UTF-8">
    <title>Nice monitor such wow</title>
</head>
<body>
    <div class="jumbotron">
        <ol>
            {% for file in file_list %}
                <li>{{file.path}}</li>
                {% if file.old_hash and file.old_hash != file.new_hash and file.flag_exists == 1%}
                    <span class="label label-warning">Changed</span>
                {% endif %}
                {% if file.flag_exists == 0 %}
                    <span class="label label-danger">Removed</span>
                {% endif %}
                {% if not file.old_hash|length and file.new_hash != file.old_hash %}
                    <span class="label label-info">New</span>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</body>
</html>